/* color von logo web und font von portfolio btn #4D5AE5 */
/* color von studio und andere title und background ins web-site #2E2F42 */
/* color von tel ads und andere text #434455 */
/* color von footer #E7E9FC */
/* background von btn ins Portfolio #F4F4FD #404BBF 
color von font ins portfolio mit ":active" #FFFFFF*/

:root {
     --color-font-logo: #4D5AE5;
     --color-tit-back: #2E2F42;
     --color-ads-txt: #434455;
     --color-footer-txt: #E7E9FC;
     --color-bck-btn-act: #404BBF;
     --color-bck-btn: #F4F4FD;
     --color-fnt-btn-act: #FFFFFF;
}



body {
     font-family: 'Montserrat', sans-serif;
     font-family: 'Roboto', sans-serif;
}

ul {
     list-style: none;
}

.header-up {}

.nav {}

.header-nav {}

.nav-logo-link {}

.nav-logo {}

.container-links {}

.nav-link {}

.studio {}

.portfolio {}

.contacts {}

.header-ads {}

.address {}

.address-email {}

.address-tel {}