/* color von logo web und font von portfolio btn #4D5AE5 */
/* color von studio und andere title und background ins web-site #2E2F42 */
/* color von tel ads und andere text #434455 */
/* color von footer #E7E9FC */
/* background von btn ins Portfolio #F4F4FD #404BBF 
color von font ins portfolio mit ":active" #FFFFFF*/


:root {
     --color-font-logo: #4D5AE5;

     --color-tit-back: #2E2F42;

     --color-ads-txt: #434455;

     --color-footer-txt: #E7E9FC;

     --color-bck-btn-act: #404BBF;

     --color-bck-btn: #F4F4FD;

     --color-fnt-btn-act: #FFFFFF;

     --foot-family: 'Raleway', sans-serif;
}




body {
     font-family: 'Raleway', sans-serif;
     font-family: 'Roboto', sans-serif;
     color: var(--color-ads-txt);
     color: #434455;
}

.list {
     list-style: none;
     text-decoration: none;
}


/* Header Style */

.header-abov {}

.header-navigaton .link {
     color: var(--color-tit-back);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-decoration: none;
}

.header-navigaton .link:hover,
.header-navigaton .link:focus {
     color: var(--color-bck-btn-act);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-decoration: none;
}

.header-logo {
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
     text-transform: uppercase;
     text-decoration: none;
     letter-spacing: 0.03em;
     color: var(--color-font-logo);

}

.header-logo-std {
     color: var(--color-tit-back);
}

.header-logo-std {
     color: var(--color-tit-back);
}

.link {
     text-decoration: none;
}


.header-container {}

.header-cont-link {}

.studio {}

.portfolio {}

.contacts {}

.header-adds {}

.address {
     font-style: normal;
}

.address .header-email,
.address .header-tel {
     font-style: normal;
     text-decoration: none;
     color: var(--color-ads-txt);
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
}

.address .header-email:hover,
.address .header-tel:hover,
.address .header-email:focus,
.address .header-tel:focus {
     font-style: normal;
     text-decoration: none;
     color: var(--color-bck-btn-act);
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
}

.header-email {}

.header-tel {}


/* First Section Style */

.same-background {
     background-color: var(--color-tit-back);
}

.section-1-h1 {
     color: var(--color-fnt-btn-act);
     font-style: normal;
     font-weight: 700;
     font-size: 56px;
     line-height: 1.07;
     letter-spacing: 0.02em;
}

button[type="button"] {
     color: var(--color-fnt-btn-act);
     background-color: var(--color-font-logo);
}



/* second section Style */

/* h123 style */
.heading {
     color: var(--color-tit-back);
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
}

.headline {

     font-weight: 700;
     font-size: 36px;
     line-height: 40px;
     letter-spacing: 0.02em;
     text-transform: capitalize;
}

/* description and text style  */
.text,
.desc {
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.02em;
     color: var(--color-ads-txt);
}


/* footer style */
.same-background .footer-logo {
     color: #F4F4FD;
}

.same-background .text-footer {
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.02em;
     color: var(--color-footer-txt);
}




/* Button Portfolio Style */

ul button[type="button"].btn {
     color: var(--color-font-logo);
     background-color: var(--color-bck-btn);
     cursor: pointer;
}

ul button[type="button"].btn:hover,
ul button[type="button"].btn:focus,
ul button[type="button"].btn:active {
     color: var(--color-fnt-btn-act);
     background-color: var(--color-bck-btn-act);
}